.nav-bar{
    margin-top: 55px;
}

#nav-bar-links{
    display: flex;
    justify-content: flex-end;
    font-family: "Plus Jankarta Sans", sans-serif;
    margin: 3px 0px 0px 0px;

}
#nav-bar-links li {
    list-style: none;
    margin-right: 50px;
}
