.nav-bar{
    margin-top: 55px;
}
@media only screen and (max-width: 1024px){
    .nav-bar{
        width: 100vw;
        display: flex;
        margin-top: 36px;
    }
}

#nav-bar-links{
    display: flex;
    justify-content: flex-end;
    font-family: "Plus Jankarta Sans", sans-serif;
    margin: 3px 0px 0px 0px;

}
#nav-bar-links li {
    list-style: none;
    margin-right: 50px;
}
#nav-bar-mobile-menu-button{
    margin-left:auto;
    justify-content: flex-end;
    margin-top: 1px;
    margin-right: 20px;
    width: 50px;
    cursor: pointer;
}
