@font-face {
	font-family: "Plus Jankarta Sans";
	src: url("../src/assets/fonts/PlusJakartaSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "Cormorant Garamond";
	src: url("../src/assets/fonts/CormorantGaramond-Regular.ttf")
		format("truetype");
}
@font-face {
	font-family: "Cormorant Garamond-Light";
	src: url("../src/assets/fonts/CormorantGaramond-Light.ttf") format("truetype");
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
