.feature-card {
	background-color: #181818;
	max-width: 383px;
	min-width: 334px;
	max-height: 251px;
	min-height: 247px;
	margin: 10px 33px 10px 0px;
	font-family: "Cormorant Garamond", serif;
	display: flex;
	flex-direction: column;
	padding: 36px;
}
.feature-card h2 {
	color: white;
	margin: 0;
	font-size: 36px;
	line-height: 40px;
}
.feature-card h3 {
	color: #a3a3a3;
	font-size: 16px;
	line-height: 22.4px;
	font-family: "Plus Jankarta Sans", sans-serif;
	margin-bottom: 18px;
}
.feature-card-button {
	width: 139px;
	height: 33px;
	background-color: #A5AFD4;
	border-radius: 100px;
    color: black;
    border: none;
    font-size: 15px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
